/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

h3, h4, h5 {
    font-weight: 400;
}

tr {
    cursor: pointer;
}


/*navbar*/
.navbar {
    background-color: #ececec;
}

.nav-item:hover {
    color: #afb9c1;
}

#anomaly-detector-name {
    color: #17A2B8;
}


/*index and submission page*/
#index-title {
    font-size: 2em;
}

.index-div {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    display: flex;
    /*justify-items: center;*/
    align-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}

/*upload file from local directory in pickJobParameters.html*/
.custom-file-input{
    height: 100%;
}

.custom-file-label{
    display: flex;
    align-items: center;
}

.custom-file-label.text-muted::after{
    height: 100%;
    display: flex;
    align-items: center;
}


/*modal that shows up when a job is clicked on in the results.html file*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
