<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Anomaly Detector</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="static/js/home.js"></script>
    <script src="static/js/all_pages.js"></script>
</head>
<body id="body">

<!--Navbar-->
<nav class="navbar navbar-expand-md  mdb blue sticky-top scrolling-navbar" id="navbar"></nav>
<!--/.Navbar-->
<div class="card mt-3 mx-5">
    <form id="form" class="mx-3">
        <label for="alg-type">Pick your anomaly detection algorithm</label>
        <select class="form-control" id="alg-type">
            <option value="" disabled selected>Choose your algorithm</option>
            <option>LSTM</option>
            <option>One-Class SVM</option>
        </select>
        <label for="subject">Pick a Subject</label>
        <select class="form-control" id="subject" onchange="load_channels(this.value)"></select>
        <label for="channel" class="mb-1">Pick a Channel</label>
        <div class="mt-0">
            <select class="form-control" style="width: 100%;" multiple searchable id="channel">
                <option value="" disabled selected>Choose your channels</option>
            </select>
        </div>
        <div style="display: flex; align-content: space-around">
            <div style="display: inline-grid; width: 50%; padding-right: 0.5em">
                <label for="train-size">Train Set Size</label>
                <select class="form-control" style="width: 100%;" searchable id="train-size"></select>
            </div>
            <div style="display: inline-grid; padding-left: 0.5em; width: 50%;">
                <label for="train-anoms">Anomaly Levels</label>
                <select class="form-control" style="width: 100%;" searchable id="train-anoms"></select>
            </div>
        </div>
        <div class="my-2" style="text-align: center; margin: auto">
            <span style="text-align: center; margin: auto">
                <input class="btn btn-info mr-2" type="submit" style="width: 40%" value="Submit" id="submit">
                <!--<small>or</small>-->
                <!--<input class="btn btn-info ml-2" style="width: 40%" onclick="location.href='/results'"-->
                       <!--value="See completed jobs">-->
            </span>
        </div>
    </form>
    <div id="here"></div>
</div>
<svg id="chart"></svg>


</body>
</html>
