<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomaly Detector | Pick Parameters</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script>
    <script src="https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js"></script>
    <script src="static/js/all_pages.js"></script>
    <script src="static/js/submission.js"></script>
    <script src="static/js/pick_parameters.js"></script>
</head>
<body>
<!--Navbar-->
<nav class="navbar navbar-expand-md  mdb blue sticky-top scrolling-navbar" id="navbar"></nav>
<div id="progress-div"></div>
<!--/.Navbar-->

<div class="row">
    <form class="mx-5 my-0" style="width: 100%">
        <!--pick sets and sizes-->
        <div class="form-group row">
            <div class="col-lg-6" id="train-sets-here"> <!--picking train/test sets-->
                <!--<div class="row">-->
                <!--<label for="train-set-db-input" class="col-sm-6 col-form-label">Pick training set</label>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-sm-5">-->
                <!--<select class="form-control" id="train-set-db-input" size="3" multiple searchable>-->
                <!--<option value="" disabled selected>Previously uploaded</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<input type="file" class="custom-file-input white" id="train-set-upload-input" data-height="500"-->
                <!--aria-describedby="train-set-upload-input" accept=".csv" onchange="new_upload(this)"-->
                <!--multiple>-->
                <!--<label class="custom-file-label text-muted" style="height:100%" for="train-set-upload-input">Or-->
                <!--upload new-->
                <!--set</label>-->
                <!--</div>-->
                <!--<div class="input-group-append">-->
                <!--<button class="input-group-text" id="clear-train-upload">Clear</button>-->
                <!--</div>-->
            </div>
            <div class="col-lg-6" id="test-sets-here"> <!--picking test sets-->

                <!--<div class="row">-->
                <!--<div class="col-sm-5 pl-0 d-flex justify-content-left text-left">-->
                <!--<label for="test-set-db-input" class="col-sm-6 col-form-label">Pick testing set</label>-->
                <!--</div>-->
                <!--<div class="col-sm-5 d-flex justify-content-left text-left">-->
                <!--<div class="form-check row-sm-12 my-2">-->
                <!--<input class="form-check-input" type="checkbox" value="" id="same-set-check"-->
                <!--onchange="train_test_same(this)">-->
                <!--<label class="form-check-label" for="same-set-check">-->
                <!--Train and test on the same files-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<div class="row">-->
                <!--<div class="col-sm-5">-->
                <!--<select class="form-control" id="test-set-db-input" size="3" multiple searchable>-->
                <!--<option value="" disabled selected>Previously uploaded</option>-->
                <!--</select>-->
                <!--</div>-->
                <!--<div class="col-sm-4">-->
                <!--<input type="file" class="custom-file-input white" id="test-set-upload-input"-->
                <!--aria-describedby="test-set-upload-input" accept=".csv" onchange="new_upload(this)"-->
                <!--multiple>-->
                <!--<label class="custom-file-label text-muted" style="height:100%" for="test-set-upload-input">Or-->
                <!--upload new-->
                <!--set</label>-->
                <!--</div>-->
                <!--<div class="input-group-append">-->
                <!--<button class="input-group-text" id="clear-test-upload">Clear</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="row" id="train-times-here"> <!--picking times for train test sets-->
            <!--<div class="row">-->
                <!--<label for="section-time-input" class="col-sm-6 col-form-label">Pick training set sections</label>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-5">-->
                    <!--<select class="form-control" id="section-time-input" size="1" searchable>-->
                        <!--<option value="" disabled selected>Pick length of section</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="col-sm-5">-->
                    <!--<select class="form-control" id="section-anom-input" size="1" searchable>-->
                        <!--<option value="" disabled selected>Pick anomaly levels</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<label for="start-time-input" class="col-sm-6 col-form-label">Or choose start and end times-->
                    <!--instead</label>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="number" class="form-control" id="start-time-input"-->
                           <!--onkeyup="disable_section_dropdowns()"-->
                           <!--placeholder="Pick start time">-->
                <!--</div>-->
                <!--<div class="col-sm-5">-->
                    <!--<input type="number" class="form-control" id="end-time-input"-->
                           <!--onkeyup="disable_section_dropdowns()"-->
                           <!--placeholder="Pick end time">-->
                <!--</div>-->
            <!--</div>-->
        </div>

        <!--pick parameters - dynamically generated-->
        <div class="form-group row no-gutters w-100 justify-content-center" id="parameter-table">
            <div class="row no-gutters w-100 center border-bottom justify-content-center card-header">Pick Parameters (click on
                header name to restore defaults for section, or click individual variable names)
            </div>
        </div>
    </form>
    <!--footer-->
    <div id="footer-here"></div>
    <!--/.footer-->
</div>
</body>
</html>


<!--










}
params:
alg_params:
__proto__: Object
sets:
test: Array(3)
0: {name: "1.csv", sig_vals: Array(2821), events: Array(2821)}
1: {name: "2.csv", sig_vals: Array(2821), events: Array(2821)}
2: {name: "3.csv", sig_vals: Array(2821), events: Array(2821)}
length: 3
__proto__: Array(0)
train: [{…}]
types: {train: "user_upload", test: "user_upload"}
__proto__: Object
times:
param_1: "0"
param_2: "2821"
type: "times"
__proto__: Object
__proto__: Object
-->